---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" /><link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="header">
			<h1>Walking On The Edge Studio</h1>
		</header>
		<header class="subheader">
			<h2>James Green Fine Art</h2>
		</header>
		<main>
			<slot />
		</main>
		<footer class="footer">
			James Green Fine Art - Walking On The Edge Studio &copy; 2023
		</footer>
		<!-- <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script> -->
	</body>
</html>
<style is:global>
	:root {
		/* Dances with Rain scheme */
		--byzantium: hsla(309, 43%, 34%, 1);
		--light-background-color: hsla(0, 0%, 95%, 1);
		--dark-background-color: hsl(244, 72%, 16%);
		--gainsboro: hsla(195, 6%, 86%, 1);
		--maximum-purple: hsla(283, 33%, 42%, 1);
		--light-periwinkle: hsla(233, 28%, 78%, 1);
		--glaucous: hsla(220, 39%, 55%, 1);
		--amaranth-pink: hsla(340, 79%, 79%, 1);

		/* Accent colors added */
		--tangerine: hsla(30, 95%, 57%, .95);
		--lemon-chiffon: rgba(255, 247, 0, 0.95);
		--olivine: hsla(84, 37%, 59%, 1);

		--primary-color: var(--maximum-purple);
		--secondary-color: var(--light-periwinkle);
		--tertiary-color: var(--glaucous);
		--accent-color-1: var(--amaranth-pink);
		--accent-color-2: var(--lemon-chiffon);
		--light-text-color: var(--gainsboro);
		--dark-text-color: var(--byzantium);
		--accent-gradient: linear-gradient(
			90deg,
			var(--accent-color-1),
			var(--secondary-color) 30%,
			var(--tertiary-color) 60%
		);
		--text-gradient: linear-gradient(
			180deg,
			var(--accent-color-1),
			var(--secondary-color) 30%,
			var(--primary-color) 60%
		);
	}
	html {
		font-family: "Merriweather", serif;
		background-color: var(--light-background-color);
		color: var(--dark-text-color);
	}
	h1 {
		font-size: 1.75rem;
		font-weight: 800;
		margin: 0;
		line-height: 1em;

		color: var(--primary-color);
		padding-left: 0.5rem;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
		min-width: 40ch;
	}
	.header h2 {
		padding-left: 1.5rem;
		margin-top: .5rem;
		color: var(--dark-background-color);
	}
	.header {
		border-left-style: solid;
		border-left-width: 0.5rem;
		border-left-color: var(--accent-color-1);
		padding-top: 2rem;
		background-color: var(--light-periwinkle);
	}
	.subheader {
		background-color: var(--tertiary-color);
		color: var(--light-text-color);
		padding: .5rem 1.5rem;
		font-size: 1rem;
	}
	.footer {
		border-top-width: 10px;
		border-top-style: solid;
		border-top-color: var(--accent-color-1);
		padding: 2rem;
		background-color: var(--primary-color);
		color: var(--light-text-color);
		text-align: right;
	}
</style>
