---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" /><link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="header">
			<h1>Walking On The Edge Studio</h1>
		</header>
		<header>
			<h2>James Green Fine Art</h2>
		</header>
		<main>
			<slot />
		</main>
		<footer class="footer">
			James Green Fine Art - Walking On The Edge Studio &copy; 2023
		</footer>
	</body>
</html>
<style is:global>
	:root {
		/* Color Scheme 1 */
		/* CSS HSL */
		--english-violet: hsl(278, 22%, 32%);
		--french-lilac: hsla(279, 22%, 47%, 1);
		--amaranth-pink: hsla(340, 79%, 79%, 1);
		--apricot: hsla(22, 100%, 86%, 1);
		--olivine: hsla(84, 37%, 59%, 1);
		--paolo-veronese-green: hsla(163, 75%, 34%, 1);

		--accent: 124, 58, 237;
		--color-1: 34, 97, 62;
		--primary-color: var(--english-violet);
		--secondary-color: var(--french-lilac);
		--tertiary-color: var(--amaranth-pink)
		--accent-color-1: var(--apricot);
		--accent-color-2: var(--olivine);
		--accent-color-3: var(--paolo-veronese-green);
		--light-text-color: rgb(226, 226, 226);
		--dark-text-color: var(var(--tertiary-color));
		--accent-gradient: linear-gradient(
			90deg,
			rgb(var(--accent)),
			var(--secondary-color) 30%,
			rgb(226, 226, 226) 60%
		);
		--text-gradient: linear-gradient(
			180deg,
			var(--accent-color-1),
			var(--secondary-color) 30%,
			var(--primary-color) 60%
		);
	}
	html {
		font-family: "Merriweather", serif;
		background-color: rgb(246, 246, 246);
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		line-height: 1em;

		color: var(--primary-color);
		/* border-image: linear-gradient(180deg, var(--secondary-color), var(--primary-color)) 1; */
		padding-left: 0.5rem;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	header h2 {
		padding-left: 1.5rem;
	}
	.header {
		border-left-style: solid;
		border-left-width: 0.5rem;
		border-left-color: var(--accent-color-2);
		padding-top: 2rem;
	}

	.footer {
		border-top-width: 10px;
		border-top-style: solid;
		border-top-color: var(--accent-color-2);
		padding: 2rem;
		background-color: var(--primary-color);
		color: var(--light-text-color);
		text-align: right;
	}
</style>
