---
import Layout from "../layouts/Layout.astro"
/* import Card from "../components/Card.astro" */
---

<Layout title="Welcome to Walking On The Edge Studio">
   <section>
      <div class="photo">
         <a
            data-flickr-embed="true"
            href="https://www.flickr.com/photos/walkingontheedgestudio/52615788969/in/dateposted-public/"
            title="Winter Carnival"
            target="_blank"
            ><img
               src="https://live.staticflickr.com/65535/52615788969_7e5e6f3d27_h.jpg"
               alt="Winter Carnival"
            /></a
         >
      </div>
      <div class="about mx-0 my-4 p-4">
         <h2 class="text-2xl">Artist Bio & Statement</h2>
         <p>
            James is an abstract artist living in the Richmond area. His work is
            influenced by elements of nature and the outdoors.
         </p>
         <p>
            His primary mediums are oils with cold wax, acrylics and encaustics. By
            working areas of texture into each of the many layers he builds depth
            and volume on the painting surface that invokes a visually stimulating
            and tactile response for the viewer.
         </p>
         <p>
            His approach to painting is very spontaneous and expressive as he
            endeavors to create a balance between chaos and order.
         </p>
         <p>
            He is an exhibiting member of the Metropolitan Richmond Artists
            Association and a member of its board.
         </p>
      </div>

   </section>
</Layout>

<style>
   .text-gradient {
      background-image: var(--text-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
   .about {
      border: 1px solid var(--primary-color);
      background-color: white;
      border-radius: 0.4rem;
   }

   .about h2 {
      margin: 0;
      transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
   }

   .about p {
      margin-top: 0.5rem;
      margin-bottom: 0;
      color: #444;
   }

   img {
      border: solid 3px black;
      border-image: linear-gradient(to bottom, black, darkgray 30%, #ebe9ea 60%)
         1;
   }

   section {
		margin: auto;
 		padding: 1.5rem;
		max-width: 100ch;
		min-width: 40ch;
	}
</style>
