---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Walking On The Edge Studio">
	<main>
		<h1>Walking On The Edge Studio</h1>
		<h2>James Green Fine Art</h2>
		<div class="about">
			<h2>Artist Bio & Statement</h2>
			<p>James is an abstract artist living in the Richmond area. His work is influenced by elements of nature and the outdoors.</p>
			<p>
				His primary mediums are oil with cold wax, acrylics and encaustics. His paintings apply layers of textures to add depth and volume while invoking a visually stimulating and tactile response in the viewer.
			</p>
				
			<p>His approach to painting is very spontaneous and expressive as he endeavors to create a balance between chaos and order.</p>
			
			<p>He is an exhibiting member of the Metropolitan Richmond Artists Association and a member of its board.</p>
		</div>
		<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		line-height: 1em;
		border-left-style: solid;
		border-left-width: .5rem;
		border-left-color: var(--accent-color-2);
		color: var(--primary-color);
		/* border-image: linear-gradient(180deg, var(--secondary-color), var(--primary-color)) 1; */
		padding-left: .5rem;
	}
	.text-gradient {
		background-image: var(--text-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions,
	.about {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}

	.about h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.about p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
